APP_ENV=development
HOST="localhost"
JWT_SECRET = "exchange-abcdefghijrstuvwxyz1234567890"
JWT_TIMEOUT_DURATION="24 hours"

DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=CareMonitor
PORT=8004
DIALECT=mysql

REDIS_ENABLE=enable
REDIS_ALLOW_LOCAL=no
REDIS_IS_ADMIN=no
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_AUTH_PASSWORD=

SQL_FILE=CareMonitor.sql

OAUTH_CLIENT_ID=CMS987456
OAUTH_CLIENT_SECRET=AbckJ8569-98569
OAUTH_TOKEN_EXPIRE=14400

ACTIVITY_ENABLE_LOGS=1
ENABLE_LOGS=1

BASE_URL=
UPLOAD_URL=http://localhost:8004
PROFILE_DUMMY_IMAGE_NAME=/uploads/profile.png